.jumbotron {

    background-image: url("../img/jumbo.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

.text-center {
    text-align:center
}

select.error, textarea.error, input.error {
    color:#FF0000;
}

.my-error-class {
    color:#FF0000;  /* red */
}

th {
    background-color: dimgray;
    color: white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #E0E0E0 ;
    color:black;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
    background-color: #C8C8C8 ;
    color:black;
}

#c {

    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url("../img/categ.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

#c:hover {
    background: linear-gradient(
            rgba(20,20,20, .8),
            rgba(20,20,20, .8)),
    url("../img/categ.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

#p {

    background: linear-gradient(
            rgba(20,20,20, .5),
            rgba(20,20,20, .5)),
    url("../img/dish.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

#p:hover {
    background: linear-gradient(
            rgba(20,20,20, .8),
            rgba(20,20,20, .8)),
    url("../img/dish.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

#e {

    background: linear-gradient(
rgba(20,20,20, .5),
rgba(20,20,20, .5)),
url("../img/event.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

#e:hover {
    background: linear-gradient(
            rgba(20,20,20, .8),
            rgba(20,20,20, .8)),
    url("../img/event.jpg");
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-background-size: cover;
    background-size: cover;
}

.clip {
    clip-path: circle(25px at 30px 50%);
    -webkit-clip-path: circle(25px at 30px 50%);
}

.white{
    color:white!important;
}

.blackback{
    background-color:RGBa(0,0,0,0.2);!important;
}

.h{
    height: 350px;
}

.mycol{
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color:white!important;
}

.vcenter {
    margin-top: 110px;
}

.main{
    background-color:#100f03;!important;
}

.col-lg-3 {
    padding-left: 0px;
    padding-right: 0px;
}

h2{
    font-size: 50px;
}

p{
    font-size: 23px;
}